*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient(#0046ae, #9198e5);
}

.bigpart{
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: 20px auto;
    margin-top: 80px;
    border-radius: 8%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 2px 2px 25px 2px #2e2e2e;
}

.bigpart:hover{
   background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
   transition: 0.5s;
}


.musicplayer{
    color: white;
    text-shadow: 2px 2px 2px #2e2e2e;
    padding-top: 5px;
}

img{
    height: 210px;
    width: 210px;
    margin-top: 8px;
    border-radius: 4%;
}
img:hover{
    box-shadow: 2px 2px 6px 2px #2e2e2e;
    transition: 0.5s;
}
.song{
    color: white;
    text-shadow: 2px 2px 5px #2e2e2e;
}


.songwriters{
    color: #666666;
    font-size: smaller;
    text-shadow: 2px 1px 5px #2e2e2e;
}

.songwriters:hover{
    color: #2e2e2e;
    transition: 0.5s;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back,
.for,
.play:hover{
    border-color: #bebebe;
}

li{
    display: inline;
    margin-inline: 15px;
}
ul{
    padding-left: 0px;
}

.minute{
    color: white;
}

input{
    width: 240px;
    margin-bottom: 10px;
}